<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<!-- Start Slider  -->

		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="img/library.jpeg" class="d-block w-100" alt="Library Image">
				</div>
			</div>
		</div>

		<!-- End Slider  -->

		<!--< Start Category Module -->
		
		<!-- End Category Module -->


		<!-- Start Latest Product Module -->

		


		<!-- End Latest Product Module -->
	</section>
</body>
</html>