<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <h1>Registration Form</h1>
    <form action="/register" method="post">
        <!-- Input fields for user registration -->
        <label>Name:</label><input type="text" name="name" required><br><br><br>
        <label>Mobile Number:</label><input type="text" name="mobileNumber" required><br><br><br>
        <label>Email:</label><input type="email" name="email" required><br><br><br>
        <label>Password:</label><input type="password" name="password" required><br><br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>
